@import './variables.scss';

.album {
  background-color: $light; 
  border: .4rem solid $theme;
  border-radius: .75rem;
  font-family: $basic-font;
  font-size: $standard-size;
  margin-bottom: .5rem;
  padding: .5rem .5rem;
  width: 19.375rem; // 310px;
  margin: .2rem;

  &__title {
    font-weight: bold;
    padding: .3rem 0 .3rem 1rem;
    margin-bottom: .1rem;
    text-align: center;
  }

  &__image {
    display: flex;
    padding: .1rem;
  }
}

.image {
  margin: 0 .1rem;
  width: 50%;

  &__item {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: .2rem;
    margin: 1rem 0;
  
    .item {
      border: .55rem solid $theme2;
      border-radius: 1.5rem;
      height: 85%;
      width: 85%;
    }
  }
}

.album__data {
  width: 100%;
  
  .data {
    text-align: center;
  
    &_item {
      display: flex;
      justify-content: center;
      margin: .4rem 0;
    }
    
    &_item--bold {
      font-weight: bold;
      padding-bottom: .6rem;
    }
  }
}

.album__link-price {
  display: flex;
  justify-content: space-around;
  margin-top: .1rem;
}