.album {
  width: 80%;
  margin: 0 auto;
  border: 0.2rem solid blue;
  padding: .5rem 2rem;
  margin-bottom: .5rem;
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.mid-box {
  display: inline-flex; }
