.album {
  width: 19.375rem;
  margin: 0 auto;
  background-color: #fff;
  border: 0.4rem solid #004cf8;
  border-radius: .75rem;
  padding: .5rem .5rem;
  margin-bottom: .5rem;
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: .2rem; }

.wrapper {
  padding: .1rem; }

.column_group {
  padding: .1rem;
  display: flex; }

.title_bar {
  margin-bottom: .1rem;
  font-weight: bold;
  padding: .3rem 0 .3rem 1rem;
  text-align: center; }

.left_column {
  width: 50%;
  margin: 0 .1rem; }

.img_wrapper {
  padding: .2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1rem 0; }

.img {
  border: .55rem solid #3298ef;
  border-radius: 1.5rem;
  width: 85%;
  height: 85%; }

.right_column {
  width: 100%; }

.col_group {
  text-align: center; }

.col_items {
  margin: .4rem 0;
  display: flex;
  justify-content: center; }

.col-items_bold {
  font-weight: bold;
  padding-bottom: .6rem; }

.link-price_bar {
  margin-top: .1rem;
  display: flex;
  justify-content: space-around; }
