@import './variables.scss';

.form {
  display: flex;
  justify-content: center;
  padding: 2rem;
  
  &__input {
    //border: 1px solid orange;
    border: .3rem solid $theme;
    height: 2rem;
    width: 15rem;
  }

  &__button {
    //border: 1px solid green;
    border: none;
    width: 10rem;
    color: $light;
    background-color: $theme;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
  }

}