.form {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0 4rem 0; }
  .form__input {
    border: 0.5rem solid #004cf8;
    height: 2rem;
    width: 15rem;
    font-size: 1.2rem;
    padding: .3rem 1.5rem;
    border-radius: 2rem;
    outline: none; }
  .form__button {
    border: none;
    width: 10rem;
    color: #fff;
    background-color: #004cf8;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none; }
