// colours
$light: #fff;
$theme: #004cf8;
$theme2: #3298ef;

// fonts
$basic-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$standard-size: 1.1rem;
